.leftBar {
  flex: 2;
  h3 {
    color: #5f6368;
    font-size: 14px;
    display: flex;
    align-self: flex-start;
  }
  .check {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: flex-start;
    .item{
      display: flex;
      gap: 10px;
      margin-top: 10px;
      input {
      }
      label {
        color: #3c4043;
        font-size: 16px;
      }
    }
  }
  button{
    display: flex;
    align-self: flex-start;
    border: none;
    background: none;
    color: #3c4043;
    margin-top: 10px;
  }
}
